.notification {
  position: fixed;
  max-width: 300px;
  min-width: 200px;
  border: 1px solid #ccc;
  background: white;
  z-index: 100;
  box-shadow: -5px 5px 10px rgba(#666, .25);
}

.notification-top-left {
  top: 15px;
  left: 15px;
}

.notification-top-right {
  top: 15px;
  right: 15px;
}

.notification-bottom-left {
  bottom: 15px;
  left: 15px;
}

.notification-bottom-right {
  bottom: 15px;
  right: 15px;
}

.notification-content {
  position: relative;
  padding: 15px;
}

.notification-title {
  margin: 0 0 5px 0;
  font-size: 125%;
  font-weight: bold;
}

.notification-message {
}

.notification-close {
  z-index: 10;
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
  color: #888;

  font-size: 80%;
  background-color: transparent;
  border: 0;
  padding: 5px;
  line-height: 1;

  &:focus {
    outline: 1px dotted;
  }

  &:hover {
    color: #333;
    font-weight: bold;
  }

}
