<ul>
  <li>
    <a href="#" id="notification-1">Open a notification and display alerts on event hooks</a>
  </li>
  <li>
    <a href="#" id="notification-2">Open a long notification in bottom left with a custom class</a>
  </li>
  <li>
    <a href="#" id="notification-3" data-notification-message="A message for you" data-notification-title="A title here" data-notification-location="bottom-right" data-notification-animation-speed="1000">Open a notification in bottom right with a title and a longer animation time</a>
  </li>
  <li>
    <a href="#" id="notification-4">A top-left notification with a custom button</a>
  </li>
  <li>
    <a href="#" id="notification-5">A "sticky" notification that will not autodismiss</a>
  </li>
</ul>
